body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3; /* 背景をグレーに変更 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* ボタンの背景色を緑に変更 */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838; /* ホバー時のボタンの背景色を濃い緑に変更 */
}

#player_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

#player1, #player2 {
    width: 45%;
    height: 300px;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* プレイヤーに影を追加 */
}